@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito/static/Nunito-Regular.ttf")
}
@font-face {
  font-family: "Kalnia";
  src: url("/fonts/Kalnia/static/Kalnia-Regular.ttf");
}
.font-nunito{
  font-family: "Nunito";
}
.font-kalnia{
  font-family: "Kalnia";
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Open Sans", sans-serif;
  font-weight:500;

}

